SetEnvIfNoCase User-Agent "Yandex|Baidu" bad_bot
Order Deny,Allow
Deny from env=bad_bot

# deny access to git
RedirectMatch 404 /\.git

RewriteEngine On

# get protocol in ${ENV:proto} - http://stackoverflow.com/a/20419821/2765666
RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"' [OR]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ - [env=proto:http]
RewriteCond %{HTTP:CF-Visitor} '"scheme":"https"' [OR]
RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ - [env=proto:https]

# redirect 404s to / (the trailing ? effectively discards the query string)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ %{ENV:proto}://%{SERVER_NAME}? [R]

# redirect insecure requests
RewriteCond %{ENV:proto} ^http$
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [QSA,R=301]
